.strong-fw-600 strong {
  font-weight: 600;
}

.span-fw-600 strong {
  font-weight: 600;
}

body:has(.section-error) #header,
body:has(.section-error) #footer {
  display: none;
}

.icon-x:before {
  content: "\e907";
}

@media only screen and (min-width: 1025.1px) {
  .section-presentation .container-1 {
    padding-top: clamp(40rem, 40vh, 40rem);
  }
}

.section-presentation .container-1 {
  padding-top: clamp(40rem, 40vh, 40rem);
}

@media only screen and (min-width: 1025.1px) {
  #footer {
    margin-top: auto;
  }
}